h1{
    text-align: center;
}
/*Colores*/
.rojo{
    /* background-color: firebrick; */
    border: 1px solid firebrick ;
}
.rosa{
    border: 10px dashed rgb(255,105,180);
}
.amarillo{
    border:10px double #ffd700;
}
.violeta{
    background-color: blueviolet;
}
.verde{
    background-color: lime;
}
.azul{
    border: 10px dotted hsl(174,72%, 56%);
}
/*.rojo, .rosa, .violeta{
    color:white;
}*/

/*Bordes*/
.punteado{
    border-style:dotted;
    border-width: 10px 5px 3px 2px; /*Se aplican de top y despues en sentido del reloj*/
    border-color: crimson hotpink gold lime;
}
.discontinuo{
    border-style:dashed;
    /* border-width:thin;  delgado*/
    /* border-width:medium;  medio*/
    border-width:thick; 
    border-color: hsl(203, 39%, 44%, 0.774);
} 
.solido{
    border: solid red;
    border-width: 10px 5px 2px;
}

.doble{
    border:5px double blueviolet;
    border-width: 10px 5px;
}

.surco{
    border:10px groove;
/*     border-width: 10px;
    border-style: groove; */
}
.cresta{
    border:10px ridge;
}
.recuadro{
    border:10px inset;
}
.outset{
    border: 10px outset;
}
.sin_borde{
    border:none;
}
.oculto{
    border:hidden;
}
.mixto{
    border-style:dotted solid dashed double;
}

/*Redondeo*/
.solidoRedondeado{
    border: solid red;
    border-width: 5px;
    border-radius: 20px;
}
.redondeado{
    border: 5px solid blueviolet;
    /*Comienzapor el borde superior derecho y así en el sentido de las manecillas del reloj*/
    border-radius: 20px 0px 10px 0px; 
}

