h1{
    text-align: center;
    color: crimson;
}

div.estatico{
    position: static;
    top: 10px;
    padding: 15px;
    border: 3px solid greenyellow;
    background-color: whitesmoke;
}
div.relativo{
    position: relative;
    top: 10px;
    left: 10px;
    padding: 15px;
    border: 3px solid blueviolet;
    background-color: whitesmoke;
}
div.absoluto{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 112px;
    border: 3px solid cornflowerblue;
    background-color: whitesmoke;
    z-index: -1;
}
div.contenedor-img{
    position: relative;
    border: 3px dashed greenyellow;
    width: 30%;
    margin: auto;
}
img.imagen{
    width: 100%;
    opacity: 0.2;
}
div.centro{
    position: absolute;
    top: 50%;
    /* border: 1px solid blue; */
    width: 100%;
    text-align: center;
    font-size: 25px;
}
div.contenedor-overflow{
    border: 3px dashed greenyellow;
    width: 30%;
    height: 100px;
    margin: auto;
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
}
div.contenedor-float{
    border: 3px dashed greenyellow;
    width: 30%;
    height: 100px;
    overflow: auto;
}
div.contenedor-float.flotado{
    float: left;
}
div.contenedor-float.flotado.contenedor1{
    border: 3px dashed greenyellow;

}
div.contenedor-float.flotado.contenedor2{
    border: 3px dashed cornflowerblue;
    float: right;
}
div.contenedor-float.contenedor3{
    border: 3px dashed darkorange;
    clear: both;
    margin: auto;
}
div.contenedor-display{
    width: 80%;
    height: 20%;
    overflow: auto;
    margin: auto;
    border: 3px dashed #a8dadc;
}
span{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    background-color: #a8dadc;
    border: 1px solid #457b9d;
    height: 50px;
    padding: 5px;
    display: inline-block;
}
.menu{
    list-style-type: none;
    text-align: center;
}
.menu li{
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background-color: #e63946;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: #f1faee;
}